<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>  
        <property name="use_sql_comments">false</property>  
        <property name="hibernate.hbm2ddl.auto">create</property>    
        
        
        <!-- SQLite 
        <property name="dialect">irisdeltaj.simplerelationaladdressbook.org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:${user.home}/.iris/iris-test.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>   -->
    

		<!-- PostgreSQL -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/bd_iris_test</property>
        <property name="connection.username">pedro</property>
        <property name="connection.password">123</property>
             
    </session-factory>
</hibernate-configuration>